<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cientifica.minimarket.mappers.EmpleadoMapper">

  <resultMap id="empleadoResultMap" extends="edu.cientifica.minimarket.mappers.PersonaMapper.personaResultMap"
              type="edu.cientifica.minimarket.model.Empleado">
	<result column="apellido" property="apellido"/>
    <result column="dni_empleado" property="dni"/>
	<result column="genero" property="genero"/>
  </resultMap>

</mapper>