<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cientifica.minimarket.mappers.PersonaMapper">

<resultMap id="personaResultMap" type="edu.cientifica.minimarket.model.Persona">
    <id column="id" property="id"/>
    <result column="nombre" property="nombre"/>
    <result column="email" property="email" />
    <result column="telefono" property="telefono" />
	<result column="direccion" property="direccion" />
  </resultMap>
</mapper>