<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cientifica.minimarket.mappers.ProveedorMapper">

  <resultMap id="proveedorResultMap" extends="edu.cientifica.minimarket.mappers.PersonaMapper.personaResultMap"
              type="edu.cientifica.minimarket.model.Proveedor">
    <result column="ruc" property="ruc"/>
    <result column="nombre_empresa" property="nombreEmpresa" />
    <result column="comercializa" property="comercializa" />
  </resultMap>

<!-- 
<resultMap id="empleadoResultMap" extends="edu.cientifica.papeleta.mappers.PersonaMapper.personaResultMap"
		type="edu.cientifica.papeleta.model.Empleado">
		<result column="fecha_ingreso" property="fechaIngreso" />
		<result column="id_tipo_empleado" property="tipoEmpleado" />
		<association column="id_area" property="area" javaType="edu.cientifica.papeleta.model.Area"
			resultMap="edu.cientifica.papeleta.mappers.AreaMapper.areaResultMap" />
	</resultMap>
-->
</mapper>