#header img {
  width: 150px;
}
main {
  padding-top: 57px;
}
#main img {
  max-height: 60vh;
  object-fit: cover;
}
.infoEmpresa {
  margin-top: 10px;
  border: 3px solid black;
  border-radius: 8px;
}

#header {
  background: #97c93e !important;
  padding: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
}

#header div li .menu-option {
  color: black;
}

.menu-option {
  transition: 0.6s;
}
.dropdown-menu {
  background: #a3ff03;
}
.dropdown-item {
  transition: 0.6s;
}
.dropdown-item:hover {
  background: rgba(63, 107, 57, 0.767);
}

.menu-option:hover {
  background: rgba(63, 107, 57, 0.767);
}
