<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css}"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="icon" th:href="@{/img/favicon.jpg}" type="image/jpg">
        <link rel="stylesheet" th:href="@{/css/principal.css}">
    	<link rel="stylesheet" th:href="@{/css/registrarProductos.css}">

    <title>Minimarket Esmeralda</title>
  </head>

  <body>
  <nav th:replace="principal :: nav"></nav>
  
    <section class="formProducto">
      <div class="container">
        <h1 class="titulo text-center">Registrar Productos</h1>
        <form th:action="@{/producto/registrar}" method="post" th:object="${Producto}" >
          <div class="form-row form-group">
            <div class="col">
              <label for="idProducto">Id</label>
              <input type="number" class="form-control" readonly="readonly" id="idProducto" name="idProducto" th:field="*{idProducto}">
            </div>
            <div class="col">
              <label for="nombreProducto">Nombre del Producto</label>
              <input type="text" class="form-control" id="nombreProducto" name="nombreProducto" th:field="*{nombre}">
            </div>
          </div>
          <div class="form-row form-group">
            <div class="col">
              <label for="codBarras">Código de Barras</label>
              <input type="text" class="form-control" id="codBarras" name="codBarras" th:field="*{codigoBarras}">
            </div>
            <div class="col">
              <label for="categoria">Categoria</label>
              <select id="categoria" name="categoria" class="form-control" th:field="*{categoria.idCategoria}">
                <option th:value="0" th:text="---Seleccionar---"></option>
                <option th:each="categoria : ${listaCategorias}" th:value="${categoria.idCategoria}" th:text="${categoria.descripcion}">
                </option>
              </select>
            </div>
          </div>
          <div class="form-row form-group">
            <div class="col">
              <label for="stock">Stock Producto</label>
              <input type="number" min="0" class="form-control" id="stock" name="stock" th:field="*{stockProducto}">
            </div>
            <div class="col">
              <label for="costoUnitario">Costo Unitario</label>
              <input type="number" step="any" min="0" class="form-control" id="costoUnitario" name="costoUnitario" th:field="*{costoUnitario}">
            </div>
          </div>
          <div class="form-row form-group">
            <div class="col">
              <label for="precioVenta">Precio Venta</label>
              <input type="number" step="any" min="0" class="form-control" id="precioVenta" name="precioVenta" th:field="*{precioVenta}">
            </div>
            <div class="col">
              <label for="fvencimiento">Fecha Vencimiento</label>
              <input type="date" class="form-control" id="fvencimiento" name="fvencimiento" th:field="*{fechaVencimiento}">
            </div>
          </div>
          <div class="form-row form-group">
            <div class="col-6">
              <label for="proveedor">Proveedor</label>
              <select id="proveedor" name="proveedor" class="form-control" th:field="*{proveedor.id}" >           
                <option th:value="0" th:text="--Seleccione--"></option>
                <option th:each="proveedor : ${listaProveedores}" th:value="${proveedor.id}" th:text="${proveedor.nombreEmpresa}">
              </select>
            </div>
            
          </div>
          <div class="form-row">
            <div class="col-0 offset-5">
              <input type="submit" class="btn btn-primary" value="Guardar">
            </div>
            <div class="col">
              <a href="" class="btn btn-primary">Ver Productos</a>
            </div>
          </div>
        </form>
      </div>
    </section>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"></script>

  </body>

</html>